doctype html
html
  head
    meta(http-equiv='Expires' content='-1')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Cache-Control' content='no-cache')

    title INGI.FUN 커뮤니티 인기글 모음
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      window.onpageshow = function() {
        setTimeout(function () {
          const posY = localStorage.getItem('posY')
          localStorage.removeItem("posY");
          window.scrollTo(0, posY)
        }, 10);
      }
  body
    div.webtitle INGI.FUN
    block content
  script.
    function myScrollPosition(){
      const posY = window.scrollY;
      localStorage.setItem('posY', posY)
    }

script(data-ad-client='ca-pub-5138878481706401' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
