@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.css');

@font-face {
  font-family: 'GilbeotBI';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/GilbeotBI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HSSaemaul-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CookieRun-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'paybooc-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vitro_core';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Vitro_core.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SLEIGothicTTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SLEIGothicTTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
}
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-size: 42px;
  font-family: 'Pretendard-Regular';
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body .webtitle{    
  background-color:rgb(170, 14, 92);
  color: white;
  padding: 20px;
  font-size: 0.8em;
}

.box-container {
  display: flex;
  padding: 0.3em 0.2em;
  border-bottom: 2px solid #c0c0c0;
  background-color: white;
}

a{
  text-decoration: none;
}

a:hover{
  background-color: rgb(137, 231, 255);
}

a:visited{
  background-color: rgb(228, 228, 228);
}

.box-container:hover{
  cursor: pointer;
}


.left-container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 0.7em;
  width: 4em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.left-container .like-wrap{
  font-family: 'Vitro_core';
  display: flex;
  justify-content: center;
  margin-top:0.6em;
  margin-bottom:0.3em;
  font-size: 0.85em;
  color:black;
}

.left-container .like-wrap .like-emoji {
  margin-left: -0.3em;
  font-weight: 900;
}

.left-container .like-wrap .like {
  width: 2.2em;
  margin-top:auto;
  text-align: right;
}

.left-container .site{
  color: white;
  font-size: 0.9em;
  margin: 0 0.7em;
  margin-bottom: 0.6em;
  border-radius: 0.4em;
  padding: 0.1em 0;
}

.left-container .ou {
  background: blue;
}

.left-container .dog {
  background: rgb(52, 82, 146);
}

.left-container .fm {
  background: rgb(79, 161, 255);
}

.left-container .ppomppu {
  background: rgb(97, 97, 97);
}

.left-container .humoruniv {
  background: rgb(255, 0, 85);
}

.left-container .view{
  background: #979797;
}

.right-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 0.5em;
  width: 18em;
}

.right-container .title-wrap{
  display: block;
  line-height: 0.9em;
}

.right-container .title{
  font-size: 0.8em;
  color: black;
}

.right-container .comment{
  color: rgb(255, 123, 0);
  font-size: 0.8em;
}

.right-container .author{
  margin-top: 0.5em;
  font-size: 0.3em;
  color:#9e9e9e;
}

.site-wrap{
  width: 30px;
  background: black;
  color: white;
}



@media (min-width: 1024px){
  body {
    font-size: 22px;
  }
  .left-container {
    margin-left: 1em;
    margin-right: 2em;
  }

  .right-container {
    width: 60em;
  }
  .right-container .title{
    font-size: 1em;
  }
  .right-container .author{
    font-size: 0.5em;
  }
}